@model SafeDriving.Models.CompteModel
<script language="javascript" type="text/javascript">

    function ShowEditPartial() {
        $("#fieldsetEdit").show();
        $("#fieldsetInfo").hide();
    }

    $(function () {
        $("#DateNaissance").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: '1902:2012'
        });
    });

    function GiveMeDate() {
        $('#DateNaissance').val($('#datepicker').val());
    }
    
</script>
<div id="fieldsetInfo">
    <table id="table-view-infos">
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Nom)
                </div>
            </td>
            <td>
                <div class="margin-field">
                    <div class="editor-field">
                        @Html.Label(Model.Nom)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Prenom)
                </div>
            </td>
            <td>
                <div class="margin-field">
                    <div class="editor-field">
                        @Html.Label(Model.Prenom)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Pseudo)
                </div>
            </td>
            <td>
                <div class="margin-field">
                    <div class="editor-field">
                        @Html.Label(Model.Pseudo)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(m => m.DateNaissance)
                </div>
            </td>
            <td>
                <div class="margin-field">
                    <div class="editor-field">
                        @Html.Label(Model.DateNaissance)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(m => m.AdressePostale)
                </div>
            </td>
            <td>
                <div class="margin-field">
                    <div class="editor-field-long">
                        @Html.Label(Model.AdressePostale)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(m => m.CodePostal)
                </div>
            </td>
            <td>
                <div class="margin-field">
                    <div class="editor-field-short">
                        @Html.Label(Model.CodePostal)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Ville)
                </div>
            </td>
            <td>
                <div class="margin-field">
                    <div class="editor-field-long">
                        @Html.Label(Model.Ville)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Tel)
                </div>
            </td>
            <td>
                <div class="margin-field">
                    <div class="editor-field">
                        @Html.Label(Model.Tel)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Email)
                </div>
            </td>
            <td>
                <div class="margin-field">
                    <div class="editor-field-long">
                        @Html.Label(Model.Email)
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            @*            <td rowspan="2">
                <input type="submit" value="" name="Edit" class="button-edit" onclick="javascript:ShowEditPartial()" />
            </td>*@
        </tr>
    </table>
    <div id="register-button-validate" style="text-align: right;">
        @Html.Label("Editer") <input type="submit" value="" name="Save" class="button-edit" style="display: inline" onclick="javascript:ShowEditPartial()"  />
    </div>
</div>
@using (Html.BeginForm("Edit", "Account", FormMethod.Post))
{
    <div id="fieldsetEdit" style="display: none;">
        <table id="formulaire">
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.Nom)
                    </div>
                </td>
                <td>
                    <div>
                        @Html.TextBoxFor(m => m.Nom, new { @class = "editor-field" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <div class="ValidationMessage">
                        @Html.ValidationMessageFor(m => m.Nom)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.Prenom)
                    </div>
                </td>
                <td>
                    <div>
                        @Html.TextBoxFor(m => m.Prenom, new { @class = "editor-field" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <div class="ValidationMessage">
                        @Html.ValidationMessageFor(m => m.Prenom)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.Pseudo)
                    </div>
                </td>
                <td>
                    <div>
                        @Html.TextBoxFor(m => m.Pseudo, new { @class = "editor-field" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <div class="ValidationMessage">
                        @Html.ValidationMessageFor(m => m.Pseudo)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.Password)
                    </div>
                </td>
                <td>
                    <div>
                        @Html.PasswordFor(m => m.Password, new { @class = "editor-field" })
                    </div>
                </td>
                <td class="ValidationMessage">
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <div class="ValidationMessage">
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.ConfirmPassword)
                    </div>
                </td>
                <td>
                    <div>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "editor-field" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <div class="ValidationMessage">
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.DateNaissance)
                    </div>
                </td>
                <td>
                    <div>
                        @Html.TextBoxFor(m => m.DateNaissance, new { @class = "editor-field" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <div class="ValidationMessage">
                        @Html.ValidationMessageFor(m => m.DateNaissance)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.AdressePostale)
                    </div>
                </td>
                <td>
                    <div>
                        @Html.TextBoxFor(m => m.AdressePostale, new { @class = "editor-field-long" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <div class="ValidationMessage">
                        @Html.ValidationMessageFor(m => m.AdressePostale)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.CodePostal)
                    </div>
                </td>
                <td>
                    <div>
                        @Html.TextBoxFor(m => m.CodePostal, new { @class = "editor-field-short" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <div class="ValidationMessage">
                        @Html.ValidationMessageFor(m => m.CodePostal)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.Ville)
                    </div>
                </td>
                <td>
                    <div>
                        @Html.TextBoxFor(m => m.Ville, new { @class = "editor-field-long" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <div class="ValidationMessage">
                        @Html.ValidationMessageFor(m => m.Ville)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.Tel)
                    </div>
                </td>
                <td>
                    <div>
                        @Html.TextBoxFor(m => m.Tel, new { @class = "editor-field" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <div class="ValidationMessage">
                        @Html.ValidationMessageFor(m => m.Tel)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.Email)
                    </div>
                </td>
                <td>
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "editor-field-long" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <div class="ValidationMessage">
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.Label("Photo")
                    </div>
                </td>
                <td>
                    <input id="buttonUploadFile" type="file" accesskey="file" name="file"  />
                </td>
            </tr>
        </table>
        <div id="register-button-validate" style="text-align: right;">
            @Html.Label("Enregistrer")<input type="submit" value="" name="Save" class="buttonValidate" style="display: inline-table" />
        </div>
        <div id="edit-text">
            @Html.Label("La mise ajour du pseudo prendra effet apres déconnexion")
        </div>
    </div> 
}
